body {
    background-image: url("img/bluebg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 97vh;
}

.navbar {
    background-color: rgba(0, 37, 62, 1);
    width: 100%;
}

.logo {
    height: 50px;
}

.search {
    width: 200px;
}

.pp {
    width: 40px;
    border-radius: 20px;
}

.input:focus {
    box-shadow: none;
}

.btn {
    border-radius: 20px;
    margin-left: -45px;
}
.add-btn {
    color: rgba(29, 178, 223, 1);
    border: 1px solid rgba(29, 178, 223, 1);
    border-radius: 20px;
    width: 170px;
    padding: 8px;
}
.add-btn:hover {
    background-color: rgba(29, 178, 223, 1);
    color: rgba(1, 35, 64, 1);
}

.input {
    border-radius: 20px;
}

/* .sidepp{
    background-image: url(bgconsole.png);
    /* width: 250px;
    height: 100px;
    background-size: 400px;
    background-repeat: no-repeat;
    
} */
.sidebar {
    background-color: rgba(0, 37, 62, 1);
}

.nav-link {
    font-weight: lighter;
}

.blue {
    border-radius: 35px;
    margin-left: -25px;
}

.user {
    background-color: rgba(0, 37, 62, 1);
    width: 480px;
    border: 3px solid rgba(29, 178, 223, 1);
    border-radius: 25px;
}
.table{
    font-weight: lighter;
}
.line{
    border-bottom: 1px solid rgba(29, 178, 223, 1);
}